@import "../styles/variables.scss";

// .button {
//   padding: 0.7em 1.5em;
//   border-radius: 16px;
//   border: none;
//   font-size: 0.9em;
//   color: $white;
//   cursor: pointer;

//   &--confirm {
//     background-color: $green;
//   }

//   &--confirm:hover {
//     background-color: $plant-green;
//   }

//   &--cancel {
//     background-color: $orange;
//   }

//   &--cancel:hover {
//     background-color: $red;
//   }

//   &--claimed {
//     background-color: $yellow;
//     color: $black;
//   }

//   &--claimed:hover {
//     background-color: $reg-orange;
//   }
// }

.button {
  padding: 0.7em 1.5em;
  border-radius: 10px;
  background-color: none;
  
  font-size: 0.9em;
  color: $white;
  cursor: pointer;
  
  &--confirm {   
    background-color: rgba(56, 189, 116, 0.35);
  }
  
  &--confirm:hover {
    
    background-color: rgba(24, 152, 82, 0.7);
    box-shadow: 0 0.7em 0.5em -0.4em rgb(24, 152, 82);
    transform: translateY(-0.25em);
  }
  &--confirm:focus {
    transform: translateY(-0.25em);  
  }

  &--cancel {   
    background-color: rgba(252, 75, 44, 0.35);
  }

  &--cancel:hover {
    font-size: 0.9em;
    background-color: rgba(252, 75, 44, 0.7);
    box-shadow: 0 0.7em 0.5em -0.4em rgba(218, 57, 71, 0.85);
    transform: translateY(-0.25em);
  }

  &--cancel:focus {
    transform: translateY(-0.25em);  
  }



  &--claimed {
    background-color: $yellow;
    color: $black;
  }

  &--claimed:hover {
    background-color: $reg-orange;
  }

  
}