@import "../styles/variables.scss";

.leaflet-container {
  width: 71.5vw;
  height: 100vh;
}

.leaflet-popup {
  &-content-wrapper{
    background-color: $black;
    opacity: 0.95;
    color: $light-blue;
    font-size: 1.5em;
    padding: 0.5em;
  }

  &-tip {
    background: $black;
    opacity: 0.95;
  }

  &-content {
    width: 500px;
  }
}