@import "../styles/variables.scss";

.new-item-form__label {
  text-align: left;
  font-weight: bold;
  color: $yellow;
  margin-bottom: 0.3rem;
}

.new-item {
  &__input, &__text-area, &__select  {
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    font-size: 1em;
    background-color: $grey;
  }
}

.new-item__text-area {
  resize: none;
  font-size: 1.3em;
  height: 4em;
}