// To be used in the final style
$yellow: #FFE400;
$green: #14A76C;
$orange: #FF652F;
$grey: #CFCFCF; // 747474 from sample colors
$black: #272727;
$light-blue: #A7C6FE;
$dark-purple: #4E4CAE;
$white: #FFFFFF;

// Was used in previous design
$medium-green: #548C2F;
$abs-black: #000000;

// Unused variables that goes well with dark theme
$aqua: #03DAC6;
$light-purple: #A5A4EA;

// Unused variables
$light-green: #C7C746;
$dark-green: #1B4B16;
$red: #DD4B4B;