// To be used in the final style
$yellow: #FFE400;
$green: #14A76C;
$orange: #FF652F;
$grey: #B3B3B3; // 747474 from sample colors
$black: #272727;

// Was used in previous design
$medium-green: #548C2F;
$white: #FFFFFF;
$abs-black: #000000;

// Unused variables
$light-green: #C7C746;
$dark-green: #1B4B16;
$purple: #5C5AB6;
$light-purple: #A5A4EA;
$red: #DD4B4B;