@import "../styles/variables.scss";

.welcome-page {
  &__text {
    position: absolute;
    display: flex;
    flex-flow: row;
    gap: 7.3rem;
    justify-content: center;
    align-items: center;
    padding: 5em;
  }

  &__about {
    display: flex;
    text-align: center;
    font-size: 1.8em;
    padding: 0 35px;
  }

  &__links {
    position: absolute;
    bottom: 6em;
    display: flex;
    flex-flow: row;
    gap: 7.3rem;
    justify-content: center;
    align-items: center;
  }

  &__login-link, &__register-link {
    color: $light-purple;
    font-size: 1.8em;
    padding: 4em 0.75em auto 0.75em;
  }

  &__login-link:hover, &__register-link:hover {
    color: $aqua;
  }
}

@media only screen and (max-width: 1000px) {
  .welcome-page {
    &__text {
      flex-flow: row wrap;
      padding: 0.5em 2em;
    }

    &__links {
      bottom: initial;
    }
  }
}