@import "../styles/variables.scss";

.welcome-page {
  &__text {
    position: absolute;
    display: flex;
    flex-flow: row;
    gap: 7.3rem;
    justify-content: center;
    align-items: center;
  }

  &__login-link, &__register-link {
    color: $light-blue;
    font-size: 1.8em;
    padding: 4em 0.75em auto 0.75em;
  }

  &__login-link:hover, &__register-link:hover {
    color: $aqua;
  }
}