.App {
  text-align: center;
}
.container {
  display: flex;
}
.sidebar {
  display: flex;
  flex-flow: column;
  gap: 4rem;
  height: 90vh;
  width: 30vw;
}

.form {
  display: flex;
  flex-flow: column;
  padding: 2rem;
}
