@import "./styles/variables.scss";

.App {
  text-align: center;
  font-size: 1.4em;
}
.container {
  display: flex;
}
.sidebar {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  height: 95vh;
  width: 25.7vw;
  background: $medium-green;
  color: $white;
  padding: 1em;

  &__logo {
    width: 200px;
  }
}

.form {
  display: flex;
  flex-flow: column;
  padding: 1rem;
}
